<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" />
  <package id="Castle.Activerecord" version="3.0.0.1" targetFramework="net452" />
  <package id="Castle.Components.Validator" version="2.5.0" targetFramework="net452" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.2" targetFramework="net452" requireReinstallation="true" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net452" />
</packages>